@{
    ViewData["Title"] = "Url Shortener";
    Layout = "_PublicLayout";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-title"><span class="fw-semi-bold">Welcome</span></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <div class="widget-body">
            </div>
        </section>
    </div>
</div>