<h3>Technical Details</h3>
<table class="table table-condensed table-responsive">
    <tbody>
        <tr>
            <th>Pigeon Id:</th>
            <td>@this.Context.TraceIdentifier</td>
        </tr>
        <tr>
            <th>Machine</th>
            <td>@Environment.MachineName</td>
        </tr>
        <tr>
            <th>Application Version</th>
            <td>@PlatformServices.Default.Application.ApplicationVersion</td>
        </tr>
    </tbody>
</table>